$accent-color: #ff3e79;
$bg-color: #f8f8f8;
$bg-color-white: #ffffff;
$sub-color: #41f6d7;
$sub-color2: #b8ffec;
$text-black: #1b1c21;
$text-gray: #7e7e82;
$dots-color: #b5b6bc;
$border-bottom: #d9fff5;
$bg-gradient: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
